#allBox {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.boxProduct {
    display: flex;
    border: solid 1px;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin-bottom: 15px;
}

.boxProduct div:first-child {
    display: flex;
}

.imgOurson {
    width: 300px;
    height: 100%;
    object-fit: cover;
    border-right: solid 1px;
}

.prix {
    display: flex;
}

.prix p {
    margin: 0 15px;
}

.prix p:first-child {
    margin-left: 0;
}

#showTotalPrice {
    text-align: end;
    margin-right: 10%;
}

#formulaire {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

#formulaire div {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0 10px;
}

.email {
    grid-column: 3 / span 2;
}

.adresse {
    grid-column: 1 / span 2;
}

.submit {
    grid-column: 4;
}